<div class="bg-white p-6 border shadow-sm bg-white rounded-md">
    <ol class="relative border-l border-gray-200">                  

        <%# complaints_letter.each do | complaints_letter | %>

        <%= render(ComplaintsLetterComponent.new(letter_title: "Written Acknowledgement Letter")) do %>  
        <% end %>

        <%# The below needs extracting to the letter component %>

        <li class="mb-10 ml-8">
            
            <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-white border rounded-full ring-4 ring-white">    
            </span>
            <div class="flex justify-between">
                <span class="flex items-center gap-2 mb-1 ">
                    <h3 class="text-lg font-semibold text-gray-900">Path to Resolution Letter</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                    </svg>
                </span>
                <span>
              <%= render(ButtonComponent.new(type: :outline)) do %>
                    View Letter
                <% end %>
                <%= render(ButtonComponent.new(type: :primary)) do %>
                    Send Now
                <% end %>
                </span>
            </div>
            <time class="block mb-2 text-sm font-normal leading-none text-green-700">Due in 6 days</time>
            <form class="flex flex-col mt-4 md:ml-4 md:w-[60%]">
                <label class="text-slate-600 mb-2">What steps will you be taking to resolve this complaint?</label>
                <textarea class="bg-white border-1 border-gray-200 rounded-sm " rows="4"></textarea>
                <label class="text-slate-600 mt-6 mb-2">When do you hope to have this complaint resolved?</label>
                <textarea class="bg-white border-1 border-gray-200 rounded-sm p-2" placeholder="Select date" rows="1"></textarea>
            </form>
            
        </li>

        <li class="mb-10 ml-8">
            <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-white border rounded-full ring-4 ring-white">
                
            </span>
            <div class="flex justify-between">
                <span class="flex items-center gap-2">
                    <h3 class="mb-1 text-lg font-semibold text-gray-900">Complaint Assesment and Response Letter</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </span>
                <span>
                <%= render(ButtonComponent.new(type: :primary)) do %>
                    Send Now
                <% end %>
                </span>
            </div>
            <time class="block mb-2 text-sm font-normal leading-none text-green-700">Due in 26 days</time>
        </li>

        <li class="mb-10 ml-8">
            <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-white border rounded-full ring-4 ring-white">
                
            </span>
            <div class="flex justify-between">
                <span class="flex items-center gap-2">
                    <h3 class="mb-1 text-lg font-semibold text-gray-900">Eight-week (56-day) Letter</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </span>
                <span>
                <%= render(ButtonComponent.new(type: :primary)) do %>
                    Send Now
                <% end %>
                </span>
            </div>
            <time class="block mb-2 text-sm font-normal leading-none text-green-700">Due in 52 days</time>
        </li>

         <li class="mb-10 ml-8">
            <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-white border rounded-full ring-4 ring-white">
                
            </span>
            <div class="flex justify-between">
                <span class="flex items-center gap-2">
                    <h3 class="mb-1 text-lg font-semibold text-gray-900">Closure Letter</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </span>
                <span>
                <%= render(ButtonComponent.new(type: :primary)) do %>
                    Send Now
                <% end %>
                </span>
            </div>
            <time class="block mb-2 text-sm font-normal leading-none text-green-700">Send when this complaint is resolved</time>

        </li>
        
    </ol>
</div>