<div class="bg-white p-6 border shadow-sm bg-white rounded-md">
    <ol class="relative border-l border-gray-200">                  

        <%= render(ComplaintsLetterComponent.new) do %>            
        <% end %>

        <li class="mb-10 ml-8">
            
            <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-white border rounded-full ring-4 ring-white">    
            </span>
            <div class="flex justify-between">
                <span class="flex items-center gap-2 mb-1 ">
                    <h3 class="text-lg font-semibold text-gray-900">Path to Resolution Letter</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </span>
                <span>
                <%= render(ButtonComponent.new(type: :outline)) do %>
                    View Letter
                <% end %>
                <%= render(ButtonComponent.new(type: :primary)) do %>
                    Send Now
                <% end %>
                </span>
            </div>
            <time class="block mb-2 text-sm font-normal leading-none text-green-700">Due in 6 days</time>
        </li>

        <li class="mb-10 ml-8">
            <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-white border rounded-full ring-4 ring-white">
                
            </span>
            <div class="flex justify-between">
                <span class="flex items-center gap-2">
                    <h3 class="mb-1 text-lg font-semibold text-gray-900">Complaint Assesment and Response Letter</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </span>
                <span>
                <%= render(ButtonComponent.new(type: :outline)) do %>
                    View Letter
                <% end %>
                <%= render(ButtonComponent.new(type: :primary)) do %>
                    Send Now
                <% end %>
                </span>
            </div>
            <time class="block mb-2 text-sm font-normal leading-none text-green-700">Due in 26 days</time>
        </li>

        <li class="mb-10 ml-8">
            <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-white border rounded-full ring-4 ring-white">
                
            </span>
            <div class="flex justify-between">
                <span class="flex items-center gap-2">
                    <h3 class="mb-1 text-lg font-semibold text-gray-900">Eight-week (56-day) Letter</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </span>
                <span>
                <%= render(ButtonComponent.new(type: :outline)) do %>
                    View Letter
                <% end %>
                <%= render(ButtonComponent.new(type: :primary)) do %>
                    Send Now
                <% end %>
                </span>
            </div>
            <time class="block mb-2 text-sm font-normal leading-none text-green-700">Due in 52 days</time>
        </li>

         <li class="mb-10 ml-8">
            <span class="flex absolute -left-3 justify-center items-center w-6 h-6 bg-white border rounded-full ring-4 ring-white">
                
            </span>
            <div class="flex justify-between">
                <span class="flex items-center gap-2">
                    <h3 class="mb-1 text-lg font-semibold text-gray-900">Closure Letter</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </span>
                <span>
                <%= render(ButtonComponent.new(type: :outline)) do %>
                    View Letter
                <% end %>
                <%= render(ButtonComponent.new(type: :primary)) do %>
                    Send Now
                <% end %>
                </span>
            </div>

        </li>
        
    </ol>
</div>